ul.menuv {
    width: 180px;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #7c7c7c;
    border-bottom: none;
}
    ul.menuv li {
    border-bottom: 1px solid 
    #7c7c7c;
    border-top: 1px solid #fff;
    background: #f4f4f4;
}